<!DOCTYPE html>
<html>
<head>
    <title>Upload Customer</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <h1>Upload Customer</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for errors in form.errors.items %}
                    
                            {{ error }}
            
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit">Upload</button>
    </form>

    <script type="text/javascript">
        $(function() {
            $('#id_date_of_birth').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
</body>
</html>
